<div class="container">
  <article>
    <h1>
      <%= @article.title %>
      <small>
        <%= link_to edit_article_path(@article) do %><i class="fa-regular fa-pen-to-square"></i><% end %>
        <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </small>
    </h1>

    <hr>
    <%= @article.content %>
  </article>
</div>

<%
=begin %>

<h2 class="m-3"><%= @article.title %></h2>
<p>- <%= @article.content %></p>

<div><%= link_to 'Edit article', edit_article_path, class: "btn btn-success"%> | <%= link_to "Delete", article_path(@article), class: "btn btn-success",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></div>

<%= link_to 'Back Home', articles_path, class: "m-3 btn btn-primary"%>

<%
=end %>
